<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotelia | Registro habitación</title>
    <link rel="icon" href="../assets/img/hotelia campana.svg">
    <script src="https://kit.fontawesome.com/6131ecdde6.js"></script>
    <link rel="stylesheet" href="../assets/css/estilos.css">
</head>
<body>
    <section class="section-hab">
        <div class="menu-dashboard">
            <div class="menu-logo">
                <h1><img src="../assets/img/hotelia campana.svg" alt="">otelia</h1>
                <div class="user-name">
                    <h2>Angie Vargas</h2>
                    <h3>angievargas2@gmail.com</h3>
                </div>
                <img class="logo-hot" src="../assets/img/hotelia campana.svg" alt="">
                <img class="user-profile" src="../assets/img/user-profile.png" alt="">
            </div>
            <div class="menu-option">
                <div class="options">
                    <div class="option">
                    <i class="fa-solid fa-bed"></i>
                    <p>Habitaciones</p>
                </div>
                <div class="option option-2">
                    <i class="fa-solid fa-bell-concierge"></i>
                    <p>Reservas</p>
                </div>
                <div class="option">
                    <i class="fa-solid fa-bed"></i>
                    <p>Habitaciones</p>
                </div>
                <div class="option option-2">
                    <i class="fa-solid fa-bell-concierge"></i>
                    <p>Habitaciones</p>
                </div>
                </div>
                
                <div class="cerrar-sesion">
                    <a href="../index.html"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                    <a href="../index.html"><p>Cerrar sesión</p></a>
                </div>
            </div>
        </div>
        <div class="hab-content">
            <div class="hab-form">
                <form action="">
                    <h1>Registro de nueva habitación</h1>
                    <div class="hab-form-row">
                        <div class="hab-form-col">
                            <label for="">Nombre habitación</label>
                            <input type="text">
                        </div>
                        <div class="hab-form-col-2">
                            <label for="">N° habitación</label>
                            <input type="text">
                        </div>
                    </div>
                    <div class="hab-form-row">
                        <div class="hab-form-row-2">
                            <div class="hab-form-col-3">
                                <label for="">N° camas</label>
                                <input type="number"> 
                            </div>
                            <div class="hab-form-col-3">
                                <label for="">N° huéspedes</label>
                                <input type="number">
                            </div>
                        </div>
                        <div class="hab-form-col-2">
                            <label for="">Valor reserva</label>
                            <input type="text">
                        </div> 
                    </div>
                    <div class="hab-form-row">
                        <div class="hab-form-col">
                            <label for="">Imagen principal</label>
                            <input type="text"> 
                        </div> 
                        <div class="hab-form-col-2">
                            <label for="">Imagen descriptiva</label>
                            <input type="text">
                        </div> 
                    </div>
                    <div class="hab-form-row">
                        <div class="hab-form-col-desc">
                            <label for="">Descripción</label>
                            <input type="text"> 
                        </div>
                    </div>
                    <div class="hab-form-footer">
                        <div class="hab-form-footer-cont">
                            <input type="checkbox">
                            <i class="fa-solid fa-vault"></i>
                        </div>
                        <div class="hab-form-footer-cont">
                            <input type="checkbox">
                            <i class="fa-solid fa-tv"></i>
                        </div>
                        <div class="hab-form-footer-cont">
                            <input type="checkbox">
                            <i class="fa-solid fa-wifi"></i>
                        </div>
                        <div class="hab-form-footer-cont">
                            <input type="checkbox">
                            <i class="fa-solid fa-snowflake"></i>
                        </div>
                        <div class="hab-form-footer-cont">
                            <input type="checkbox">
                            <i class="fa-solid fa-bell-concierge"></i>
                        </div>
                        <div class="hab-form-footer-cont">
                            <input type="checkbox">
                            <i class="fa-solid fa-dumbbell"></i>
                        </div>
                    </div>
                    <div class="hab-form-button">
                        <button>Registrar</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
</html>