<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotelia | Busqueda de habitaciones</title>
    <link rel="icon" href="../assets/img/hotelia campana.svg">
    <script src="https://kit.fontawesome.com/6131ecdde6.js"></script>
    <link rel="stylesheet" href="../assets/css/estilos.css">
</head>
<body>
    <section class="section-hab-search">
        <div class="menu-dashboard oculto">
            <div class="menu-logo">
                <h1><img src="../assets/img/hotelia campana.svg" alt="">otelia</h1>
                <div class="user-name">
                    <h2>Angie Vargas</h2>
                    <h3>angievargas2@gmail.com</h3>
                </div>
                <img class="logo-hot" src="../assets/img/hotelia campana.svg" alt="">
                <img class="user-profile" src="../assets/img/user-profile.png" alt="">
            </div>
            <div class="menu-option">
                <div class="options">
                    <div class="option">
                        <i class="fa-solid fa-bed"></i>
                        <p>Habitaciones</p>
                    </div>
                    <div class="option option-2">
                        <i class="fa-solid fa-bell-concierge"></i>
                        <p>Reservas</p>
                    </div>
                    <div class="option">
                        <i class="fa-solid fa-bed"></i>
                        <p>Habitaciones</p>
                    </div>
                    <div class="option option-2">
                        <i class="fa-solid fa-bell-concierge"></i>
                        <p>Habitaciones</p>
                    </div>
                </div>
                
                <div class="cerrar-sesion">
                    <a href="../index.html"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                    <a href="../index.html"><p>Cerrar sesión</p></a>
                </div>
            </div>
        </div>

        <div class="hab-search-conteiner">
            <div class="hab-search-content">
            <p>Busqueda de Habitaciones</p>
            <div class="hab-search-form">
                <form action="">
                    <label for="">Entrada:</label>
                    <input type="date">
                    <label for="">Salida:</label>
                    <input type="date">
                    <label for="">Adultos:</label>
                    <select name="" id="">
                        <option value="">2</option>
                        <option value=""></option>
                    </select>
                    <label for="">Niños:</label>
                    <select name="" id="">
                        <option value="">4</option>
                        <option value=""></option>
                    </select>
                    <button>Ver habitaciones disponibles</button>
                </form>
            </div>
        </div>
        
        <div class="hab-search-list">
            <div class="hab-card tamaño">
                <div class="hab-card-header">
                   <p>Habitación doble</p> 
                </div>
                <p id="precio">$128.000</p>
                <div class="hab-card-footer">
                    <button class="btn-reserv">Reservar</button>
                </div>
            </div>
            <div class="hab-card ">
                <div class="hab-card-header">
                   <p>Habitación doble</p> 
                </div>
                <p id="precio">$128.000</p>
                <div class="hab-card-footer">
                    <button class="btn-reserv btn-reserv-azul">Reservar</button>
                </div>
            </div>
            <div class="hab-card hide">
                <div class="hab-card-header">
                   <p>Habitación doble</p> 
                </div>
                <p id="precio">$128.000</p>
                <div class="hab-card-footer">
                    <button class="btn-reserv">Reservar</button>
                </div>
            </div>
            <div class="hab-card hide">
                <div class="hab-card-header">
                   <p>Habitación doble</p> 
                </div>
                <p id="precio">$128.000</p>
                <div class="hab-card-footer">
                    <button class="btn-reserv btn-reserv-azul">Reservar</button>
                </div>
            </div>
        </div>
        </div>
        
    </section>
</body>
</html>