<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotelia | Listado de habitaciones</title>
    <link rel="icon" href="../assets/img/hotelia campana.svg">
    <script src="https://kit.fontawesome.com/6131ecdde6.js"></script>
    <link rel="stylesheet" href="../assets/css/estilos.css">
</head>
<body>
    <section class="section-list-hab">
        <div class="menu-dashboard fijo">
            <div class="menu-logo">
                <h1><img src="../assets/img/hotelia campana.svg" alt="">otelia</h1>
                <div class="user-name">
                    <h2>Angie Vargas</h2>
                    <h3>angievargas2@gmail.com</h3>
                </div>
                <img class="logo-hot" src="../assets/img/hotelia campana.svg" alt="">
                <img class="user-profile" src="../assets/img/user-profile.png" alt="">
            </div>
            <div class="menu-option">
                <div class="options">
                    <div class="option">
                    <i class="fa-solid fa-bed"></i>
                    <p>Habitaciones</p>
                </div>
                <div class="option">
                    <i class="fa-solid fa-bed"></i>
                    <p>Registrar habitaciones</p>
                </div>
                <div class="option option-2">
                    <i class="fa-solid fa-pen" id="lapiz"></i>
                    <p>Editar perfil</p>
                </div>
                </div>
                
                <div class="cerrar-sesion">
                    <a href="../index.html"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                    <a href="../index.html"><p>Cerrar sesión</p></a>
                </div>
            </div>
        </div>
        <div class="listar-hab">
            <h1>Habitaciones</h1>
            <div class="buscar">
                <div class="buscar-input">
                    <label for="">Categoría</label>
                    <select name="" id="">
                        <option value="">Todas</option>
                        <option value=""></option>
                    </select>
                </div>
                <div class="buscar-input-2">
                    <label for="">Estado</label>
                    <select name="" id="">
                        <option value="">Todas</option>
                        <option value=""></option>
                    </select>
                </div>
            </div>

            <div class="list-hab-content">
                <div class="listhab">
                    <div class="hab-card">
                        <div class="hab-card-header">
                           <p>Habitación doble</p> 
                        </div>
                        <p id="precio">$128.000</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus ornare dui, ante nisl. Lorem ipsumn</p>
                        <div class="hab-card-footer">
                            <button class="btn-modif">Modificar</button>
                            <button class="btn-inac">Inactivar</button>
                        </div>
                    </div>
                    <div class="hab-card">
                        <div class="hab-card-header">
                           <p>Habitación doble</p> 
                        </div>
                        <p id="precio">$128.000</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus ornare dui, ante nisl. Lorem ipsumn</p>
                        <div class="hab-card-footer">
                            <button class="btn-modif">Modificar</button>
                            <button class="btn-inac">Inactivar</button>
                        </div>
                    </div>
                    <div class="hab-card">
                        <div class="hab-card-header">
                           <p>Habitación doble</p> 
                        </div>
                        <p id="precio">$128.000</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus ornare dui, ante nisl. Lorem ipsumn</p>
                        <div class="hab-card-footer">
                            <button class="btn-modif">Modificar</button>
                            <button class="btn-inac">Inactivar</button>
                        </div>
                    </div>
                    <div class="hab-card">
                        <div class="hab-card-header">
                           <p>Habitación doble</p> 
                        </div>
                        <p id="precio">$128.000</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus ornare dui, ante nisl. Lorem ipsumn</p>
                        <div class="hab-card-footer">
                            <button class="btn-modif">Modificar</button>
                            <button class="btn-inac">Inactivar</button>
                        </div>
                    </div>
                    <div class="hab-card">
                        <div class="hab-card-header">
                           <p>Habitación doble</p> 
                        </div>
                        <p id="precio">$128.000</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus ornare dui, ante nisl. Lorem ipsumn</p>
                        <div class="hab-card-footer">
                            <button class="btn-modif">Modificar</button>
                            <button class="btn-inac">Inactivar</button>
                        </div>
                    </div>
                    <div class="hab-card">
                        <div class="hab-card-header">
                           <p>Habitación doble</p> 
                        </div>
                        <p id="precio">$128.000</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus ornare dui, ante nisl. Lorem ipsumn</p>
                        <div class="hab-card-footer">
                            <button class="btn-modif">Modificar</button>
                            <button class="btn-inac">Inactivar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </section>
</body>
</html>